/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
    box-sizing: border-box;
}

/* Nav and Footer styles */
header,
footer {
    color: white;
    background-color: #1956a6;
    width: 100vw;
}

header{
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.logo {
    font-weight: 700;
}

nav a {
    margin: 0 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Main styles */
main {
    margin: 1em 10em;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    line-height: 1.6;
}

/* Contact info */
#contact-info {
    text-align: center;
    margin-bottom: 20px;
}

#contact-info h2 {
    font-size: 2em;
    color: #1956a6;
}

#contact-info p {
    color: #666;
}

/* Contact form */
#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #c0bfbf;
}

#contact-form button {
    background-color: #1956a6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s;
}

#contact-form button:hover {
    background-color: #134483;
}

/* Footer styles */

footer {
    padding: 2em 2em 0em;
}

footer a {
    color: #f9f9f9;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: small;
    padding-top: 1em;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

footer div {
    text-align: center;
}